## Keyword

1. We cannot use a keyword as variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language. Keywords are case sensitive.
2. All the keywords except True, False and None are in lowercase and they must be written as it is. The list of all the keywords are given below.

In [3]:
a= "Hello, how are you?"

In [4]:
print(a)

Hello, how are you?

In [5]:
True = 10

SyntaxError: can't assign to keyword (<ipython-input-5-398a5163d1af>, line 1)

In [15]:
5<2

False

## Identifier

Rules for writing identifiers
1.	Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_). Names like myClass, var_1 and print_this_to_screen, all are valid example.
2.	An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.
3.	Keywords cannot be used as identifiers.
4.	We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [16]:
Var_name = "First variable"
print(Var_name)

First variable

In [17]:
1var_name = "Second variable"

SyntaxError: invalid syntax (<ipython-input-17-4fad6a54afef>, line 1)

## Python statement

Multi line statement

In [19]:
ms = 1 + 2 + 3 + \
     4 + 5 + 6 + \
     7 + 8 + 9
print(ms)

45

In [22]:
ms = (1 + 2 + 3 +
     4 + 5 + 6 + 
     7 + 8)
print(ms)

36

In [25]:
a = 1; b = 2; c = 3
print(a, b, c)

1 2 3

## Indendation

In [33]:
for i in range(1, 8):
    print(i)
    if(i == 5):
        break

1
2
3
4
5

In [44]:
for i in range(1, 4): print(i);

1
2
3

In [46]:
if True:
print('True')

IndentationError: expected an indented block (<ipython-input-46-0c434a710e5e>, line 2)

## Comments

In [50]:
# Who are you?
print("I'm an Analyst")

I'm an Analyst

## Multi line comments

In [52]:
# This is
# one way of writing
# multi-line comments

"""This is
another way of writing
multi-line comments or multi-line strings"""

'This is\nanother way of writing\nmulti-line comments or multi-line strings'

## Doc string

In [77]:
def func1():
    """My first function"""
    print('My function')

In [78]:
func1()

My function

In [80]:
print(func1.__doc__)

My first function

In [81]:
def add_numbers(a):
    """Function to
    add 2 numbers"""
    return a+2

In [82]:
add_numbers(8)

10

In [83]:
print(add_numbers.__doc__)

Function to
    add 2 numbers

## Variable

Python is a type inferred language. In Python we don't assign values to the variables, whereas Python gives the reference of the object (value) to the variable

In [87]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [88]:
a = b = c = 6
print(a, b, c)

6 6 6

## Constants

It is helpful to think of constants as containers that hold information which cannot be changed later

In [98]:
import constant
print(constant.PI)
print(constant.GRAVITY)

3.14
9.8

In [100]:
con_add = constant.PI + 4
print(con_add)

7.140000000000001

## Literals

Literal is a raw data given in a variable or constant.

## Data types

## Numbers

In [7]:
a = 5
b = 6.5
c = 1 + 5j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

## List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

In [10]:
a = [1, 'two', 3.0]
type(a)

list

## Slicing with slicing operator []

In [13]:
a = [1, 2, 3, 4 , 5, 6, 7, 8]
a[0], a[0:3], a[5:]

(1, [1, 2, 3], [6, 7, 8])

## Lists are mutable

In [14]:
a[5] = 10
print(a)

[1, 2, 3, 4, 5, 10, 7, 8]

##  Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified. We can use the slicing operator [] to extract items but we cannot change its value.

In [15]:
a=(1, 2, 3, 4, 5)
type(a)

tuple

In [17]:
a[2:5]

(3, 4, 5)

Below assignment operation generates error since tuples are immutabe

In [16]:
a[0] = 5

TypeError: 'tuple' object does not support item assignment

## Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """

In [18]:
s = 'This is a string'
type(s)

str

Like list and tuple, slicing operator [ ] can be used with string.

In [19]:
s[3:10]

's is a '

Below generates error because Strings are immutable.

In [20]:
s[3] = 'r'

TypeError: 'str' object does not support item assignment

## Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [23]:
a = {1, 2, 3, 4, 5}
type(a)

set

Indexing has no meaning and generates below error

In [24]:
a[2]

TypeError: 'set' object does not support indexing

Set has unique values and it eliminates duplicates

In [25]:
a = {1, 2, 2, 3, 3, 3}
a

{1, 2, 3}

## Dictionary

Dictionary is an unordered collection of key-value pairs. Key is needed to retrieve the value

In [28]:
dic = {1:'one', 2:'two', 3:'three'}
type(dic)

dict

We use key to retrieve the respective value. But not the other way around

In [29]:
dic[2]

'two'

In [34]:
dic[two]

NameError: name 'two' is not defined

## Data type conversions

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [35]:
float(10)

10.0

In [36]:
int(10.5)

10

In [37]:
float('5.5')

5.5

In [38]:
str(20)

'20'

We can even convert one sequence to another

In [40]:
set([1, 2, 2, 3, 3])

{1, 2, 3}

In [41]:
tuple({2, 3, 4})

(2, 3, 4)

In [42]:
list('LIST')

['L', 'I', 'S', 'T']

To convert to dictionary, each element must be a pair

In [47]:
print(dict([[10, 20],[30, 40]]))
print(dict([(11, 20),(31, 40)]))

{10: 20, 30: 40}
{11: 20, 31: 40}

## Type conversion

1. Implicit conversion
2. Explicit conversion

In Implicit type conversion, Python automatically converts one data type to another data type.

In [48]:
num_int = 123
num_flo = 1.23
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

Addition of string(higher) data type and integer(lower) datatype

In [49]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))
print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

We can see from the output, we got typeerror. Python is not able use Implicit Conversion in such condition

In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.
This type conversion is also called typecasting because the user casts (change) the data type of the objects

In [50]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))
num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

We converted num_str from string(higher) to integer(lower) type using int() function to perform the addition.
In Type Casting loss of data may occur as we enforce the object to specific data type

Python input

In [54]:
num = input('Enter the number: ')
add = int(num) + 5
print(add)
# type(num)

Enter the number: 5
10

Eval function for string

In [59]:
a = eval('5*3')
print(a)

15

## Operators

Arithmetic operators

In [60]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)
# Output: x - y = 11
print('x - y =',x-y)
# Output: x * y = 60
print('x * y =',x*y)
# Output: x / y = 3.75
print('x / y =',x/y)
# Output: x // y = 3
print('x // y =',x//y)
# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

Comparison operators

In [61]:
x = 10
y = 12

# Output: x > y is False
print('x > y  is',x>y)
# Output: x < y is True
print('x < y  is',x<y)
# Output: x == y is False
print('x == y is',x==y)
# Output: x != y is True
print('x != y is',x!=y)
# Output: x >= y is False
print('x >= y is',x>=y)
# Output: x <= y is True
print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

Logical operators

In [62]:
x = True
y = False

# Output: x and y is False
print('x and y is',x and y)
# Output: x or y is True
print('x or y is',x or y)
# Output: not x is False
print('not x is',not x)

x and y is False
x or y is True
not x is False

Assignment and Identity operators

In [176]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
x4 = (1, 2, 3)
y4 = (1, 2, 3)

# Output: False
print(x1 is not y1)
# Output: True
print(x2 is y2)
# Output: False
print(x3 is y3)
print(x4 is y4)

False
True
False
False

Above, x3 and y3 are list. They are equal but not identical. Since list are mutable (can be changed), interpreter locates them separately in memory although they are equal.

Membership operators:
in and not in are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).
But, in a dictionary we can only test for presence of key, not the value.

In [64]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)
# Output: True
print('hello' not in x)
# Output: True
print(1 in y)
# Output: False
print('a' in y)

True
True
True
False

Here, 'H' is in x but 'hello' is not present in x (remember, Python is case sensitive). Similary, 1 is key and 'a' is the value in dictionary y. Hence, 'a' in y returns False.

## If statement

In [70]:
num = int(input('Enter a number: '))

if (num > 0):
    print('Positive')
else:
    print('Negative')

Enter a number: 5
Positive

If elif

In [177]:
num = int(input('Enter a number: '))

if (num > 0):
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

Enter a number: 0
Zero

Nested if

In [77]:
num = int(input('Enter a number: '))

if num>=0:
    if num ==0:
        print('Zero')
    else:
        print('Positive')
else:
    print('Negative')

Enter a number: 0
Zero

## for loop

In [179]:
l = [10, 20, 30, 40, 50]
add = 0

for i in l:
    add = add + i
    print(add)
# print(add)

10
30
60
100
150

Range function: range(start,stop,step size)

In [93]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
list(range(11, 21, 3))

[11, 14, 17, 20]

Program to iterate through a list using indexing

In [180]:
city = ['Chennai', 'Mumbai', 'Delhi']
len(city)

3

In [95]:
city = ['Chennai', 'Mumbai', 'Delhi']

for i in range(len(city)):
    print('I like', city[i])

I like Chennai
I like Mumbai
I like Delhi

for loop with else:
A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts. break statement can be used to stop a for loop. In such case, the else part is ignored. Hence, a for loop's else part runs if no break occurs.

In [104]:
num = [3, 2, 1]

for i in num:
    print('I have', i, 'days for exams')
else:
    print('Now no days left for exam')

I have 3 days for exams
I have 2 days for exams
I have 1 days for exams
Now no days left for exam

## While loop

In [184]:
num = int(input('Enter the number: '))
i = 0
sum = 0

while i<num:
    sum = sum + i
    i = i+1 #updating counter
print(sum)

Enter the number: 7
21

Note: We need to increase the value of counter variable in the body of the loop. This is very important (and mostly forgotten). Failing to do so will result in an infinite loop (never ending loop).

While loop with else

In [116]:
c = 0

while c<3:
    print(c, 'is inside while')
    c = c+1
else:
    print('Inside else')

0 is inside while
1 is inside while
2 is inside while
Inside else

Break statement

In [122]:
for val in 'higher':
    if val == 'e':
        break
    print(val)

h
i
g
h

Continue statement

In [123]:
for val in 'string':
    if val == 'r':
        continue
    print(val)

s
t
i
n
g

Pass statement:
In Python programming, pass is a null statement. The difference between a comment and pass statement in Python is that, while the interpreter ignores a comment entirely, pass is not ignored.
However, nothing happens when pass is executed. It results into no operation
pass is just a placeholder for
functionality to be added later

In [126]:
sequence = ['P', 'a', 's', 's']

for i in sequence:
    pass

## Functions

Function is a group of related statements that perform a specific task.

•	Keyword def marks the start of function header.
•	A function name to uniquely identify it. Function naming follows the same rules of writing identifiers in Python.
•	Parameters (arguments) through which we pass values to a function. They are optional.
•	A colon (:) to mark the end of function header.
•	Optional documentation string (docstring) to describe what the function does.
•	One or more valid python statements that make up the function body. Statements must have same indentation level (usually 4 spaces).
•	An optional return statement to return a value from the function.

In [134]:
def greeting(name):
    """Function to greet someone"""
    print('Hello', name, 'Good morning')

Call a function

In [145]:
greeting('guys')

Hello guys Good morning

Docstring

In [137]:
print(greeting.__doc__)

Function to greet someone

return statement

In [140]:
def absolute_value(value):
    """Function to return the absolute value"""
    if value>0:
        return value
    else:
        return -value

In [142]:
absolute_value(-9)

9

Scope and Lifetime of variables:
Scope of a variable is the portion of a program where the variable is recognized. Parameters and variables defined inside a function is not visible from outside. Hence, they have a local scope.
Lifetime of a variable is the period throughout which the variable exits in the memory. The lifetime of variables inside a function is as long as the function executes.
They are destroyed once we return from the function. Hence, a function does not remember the value of a variable from its previous calls.

In [376]:
def func():
    a = 10
    print('Inside the function: ', a)
a= 20
func()
print('Outside the function: ', a)

Inside the function:  10
Outside the function:  20

## Function arguments

In [147]:
def greet(arg1, arg2):
    """Function with argumemnts"""
    print(arg1, arg2, 'everyone!')

greet('Good', 'morning')

Good morning everyone!

Default args

In [150]:
def greet(name, msg = "Good morning!"):
   """ This function greets to the person with the provided message.
   If message is not provided, it defaults to "Good morning!"    """
   print("Hello",name + ', ' + msg)

greet("Guys")
greet("Guys","How do you do?")

Hello Guys, Good morning!
Hello Guys, How do you do?

Note: Any number of arguments in a function can have a default value. But once we have a default argument, all the arguments to its right must also have default values.
This means to say, non-default arguments cannot follow default arguments. For example, if we had defined the function header as below would generate an error

In [151]:
def greet(msg = "Good morning!", name):

SyntaxError: unexpected EOF while parsing (<ipython-input-151-5e1a2b374d62>, line 1)

Keyword args

In [153]:
# 2 keyword arguments
greet(name = "guys",msg = "How do you do?")
# 2 keyword arguments (out of order)
greet(msg = "How do you do?",name = "guys") 
# 1 positional, 1 keyword argument
greet("guys",msg = "How do you do?")

Hello Guys, How do you do?
Hello Guys, How do you do?
Hello Guys, How do you do?

As we can see, we can mix positional arguments with keyword arguments during a function call. But we must keep in mind that keyword arguments must follow positional arguments

Arbitrary args

Sometimes, we do not know in advance the number of arguments that will be passed into a function.
In the function definition we use an asterisk (*) before the parameter name to denote this kind of argument.

In [159]:
def greet(*names):
    for i in names:
        print('Hi', i)
greet('All', 'Everyone', 'Everybody')

Hi All
Hi Everyone
Hi Everybody

## Recursion

Recursion is the process of defining something in terms of itself. An example of a recursive function to find the factorial of a number

In [163]:
def rec(x):
    if x==1:
        return x
    else:
        return (x * rec(x-1))
num = 5
print('Factorial of', num, 'is', rec(num))

Factorial of 5 is 120

## Lambda function

In Python, anonymous functions are defined using the lambda keyword.

In [165]:
cube = lambda x : x*x*x
cube(3)

27

Filter function: 
The filter() function in Python takes in a function and a list as arguments.
The function is called with all the items in the list and a new list is returned which contains items for which the function evaluats to True

In [171]:
my_list = list(range(10))
print(my_list)

fil = list(filter(lambda x : x%2 == 0, my_list))
print('After filter', fil)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
After filter [0, 2, 4, 6, 8]

map function: 
The map() function in Python takes in a function and a list.
The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item.

In [175]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x*2 , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

Global Variables:
In Python, a variable declared outside of the function or in global scope is known as global variable. This means, global variable can be accessed inside or outside of the function.

In [191]:
x = "global variable"
def func():
    print("Inside the function :", x)
func()
print("Outside the function:", x)

Inside the function : global variable
Outside the function: global variable

Local Variables:
A variable declared inside the function's body or in the local scope is known as local variable.
If we call it outside the function, we'll get the below error

In [193]:
def func():
    lv = 'Local variable'
    print(lv)
func()
lv

Local variable

NameError: name 'lv' is not defined

Local and global in same code

In [384]:
var = 20

def func():
    global var     #throws errors if no global keyword
    y = 10
    var = var * 2
    print('Local variable:', y)
    print('Global variable:', var)

In [385]:
# Calling the above function

func()

Local variable: 10
Global variable: 40

Rules of global Keyword:
- When we create a variable inside a function, it’s local by default.
- When we define a variable outside of a function, it’s global by default. You don’t have to use global keyword.
- We use global keyword to read and write a global variable inside a function.
- Use of global keyword outside a function has no effect

Accessing global Variable From Inside a Function

In [217]:
c = 200 # global variable

def add():
    print(c)
    
add()

200

Modifying Global Variable From Inside the Function

In [ ]:
c = 1

def add():
    c = c + 2
    print(c)
add()

When we run above program, the output shows an error. 
Note: This is because we can only access the global variable but cannot modify it from inside the function.
The solution for this is to use the global keyword

Changing Global Variable From Inside a Function using global

In [220]:
c = 0 

def add():
    global c
    c = c + 2 
    print("Inside add():", c)
    
add()

print("In main:", c)

Inside add(): 2
In main: 2

As we can see, change also occurred on the global variable outside the function, i.e. c = 2.

Nested list

In [386]:
nest_list = [1, 2, [3, 4], ['five', 'six', 'seven']]
print(nest_list)

[1, 2, [3, 4], ['five', 'six', 'seven']]

Nested indexing

In [387]:
nest_list[3][1]

'six'

Negative indexing

In [388]:
nest_list[-1]

['five', 'six', 'seven']

In [389]:
nest_list[-2][-1]

4

Append and extend method

In [258]:
list1 = [4, 5, 6]
list1.append(7)
print(list1)

[4, 5, 6, 7]

In [259]:
list1.extend([8, 9, 10])
print(list1)

[4, 5, 6, 7, 8, 9, 10]

In [260]:
var = 3
list1.insert(0, var)  #insert(index, value to insert)
print(list1)

[3, 4, 5, 6, 7, 8, 9, 10]

List concatenation:
We can also use + operator to combine two lists.

In [255]:
odd = [1, 3, 5]
print(odd + [9, 7, 5])
print(["Three"] * 3) #The * operator repeats a list for the given number of times

[1, 3, 5, 9, 7, 5]
['Three', 'Three', 'Three']

Delete or remove elements from a list

In [277]:
list1 = [1, 2, 3]
del list1[2]
print(list1)

[1, 2]

In [279]:
# Deleting an entire list
del list1

In [282]:
li = [1, 2, 4, 5]
li[2:3] = [3, 3, 3]
li

[1, 2, 3, 3, 3, 5]

In [390]:
li = [1, 2, 4, 5]
li[2:2] = [3, 3, 3]
li

[1, 2, 3, 3, 3, 4, 5]

remove and pop method

In [284]:
li = ['r', 'e', 'm', 'o', 'v', 'e']
li.remove('r')
print(li)
li.pop(0)
print(li)

['e', 'm', 'o', 'v', 'e']
['m', 'o', 'v', 'e']

empty a list using clear method

In [296]:
list1.clear()
print(list1)

[]

Index, count, sort and reverse of a list

In [314]:
list1 = [3, 8, 1, 6, 0, 8, 4]
print(list1.index(6))
print(list1.count(8)) #no of occurances

list1.sort()
print(list1)

list1.reverse()
print(list1)

3
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

## List comprehension

List comprehension is an elegant and concise way to create new list from an existing list
List comprehension consists of an expression followed by for statement inside square brackets.

Here is an example to make a list with each item being increasing power of 2.

In [316]:
power2 = [x**2 for x in range(11)]
power2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

This code is equivalent to

In [318]:
power2 = []

for i in range(11):
    power2.append(i**2)
print(power2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

A list comprehension can optionally contain more 'for' or 'if' statements. An optional if statement can filter out items for the new list. Here are some examples.

In [319]:
even = [x for x in range(20) if x%2 == 0]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Nested if with list comprehension

In [367]:
nest_if = [y for y in range(100) if y%2 == 0 if y%5 == 0]
nest_if

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [372]:
if_else = ['Odd' if z%2 != 0 else 'Even' for z in range(10)]
if_else

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [321]:
ax1 = [x+y for x in ['Data '] for y in ['Analyst', 'Scientist']]
ax1

['Data Analyst', 'Data Scientist']

Key Points to Remember:
•	List comprehension is an elegant way to define and create lists based on existing lists.
•	List comprehension is generally more compact and faster than normal functions and loops for creating list.
•	However, we should avoid writing very long list comprehensions in one line to ensure that code is user-friendly.
•	Remember, every list comprehension can be rewritten in for loop, but every for loop can’t be rewritten in the form of list comprehension

enumerate: Return an enumerate object. It contains the index and value of all the items of list as a tuple

In [323]:
x1 = ['Stats', 'Prob', 'Series']
list(enumerate(x1))

[(0, 'Stats'), (1, 'Prob'), (2, 'Series')]

In [327]:
x1 = ['Stats', 'Prob', 'Series']
list(enumerate(x1, 100))

[(100, 'Stats'), (101, 'Prob'), (102, 'Series')]

In [333]:
for val in enumerate(x1):
    print(val)

(0, 'Stats')
(1, 'Prob')
(2, 'Series')

In [334]:
for count, val in enumerate(x1):
    print(count, val)

0 Stats
1 Prob
2 Series

Tuple can be created without parentheses also called tuple packing

In [340]:
my_tuple = 3, 4.6, "five"
print(my_tuple)
type(my_tuple)

(3, 4.6, 'five')

tuple

tuple unpacking is also possible

In [341]:
a, b, c = my_tuple
print(a)
print(b)
print(c)

3
4.6
five

Note: Creating a tuple with one element is a bit tricky.
Having one element within parentheses is not enough. We will need a trailing comma to indicate that it is in fact a tuple.

In [347]:
tup = ('tuple')
type(tup)

str

In [349]:
tup = ('tuple', )
type(tup)

tuple

parentheses is optional

In [350]:
tup1 = 'tuple', 
type(tup1)

tuple

## Changing a Tuple

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [351]:
tup1 = (0, 5, [7, 8, 9])
tup1[2][2] = 6
tup1

(0, 5, [7, 8, 6])

Escape sequence

In [352]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [353]:
print(''' How're you? ''')

 How're you?

Set:
A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed).
However, the set itself is mutable. We can add or remove items from it.
It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have a mutable element, like list, set or dictionary, as its element.

set of mixed datatypes

In [354]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

The below set will throw an error because of using list as one of the items of a set

In [355]:
my_set = {1.0, "Hello", [1, 2, 3]}
print(my_set)

TypeError: unhashable type: 'list'

Note: Empty curly braces {} will make an empty dictionary in Python. To make a set without any elements we use the set() function without any argument.

In [357]:
a = {}
type(a)

dict

In [358]:
a = set()
type(a)

set

## changing a set

Sets are mutable. But since they are unordered, indexing has no meaning.
We cannot access or change an element of set using indexing or slicing. Set does not support it.
We can add single element using the add() method and multiple elements using the update() method. The update() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.

In [363]:
my_set = {1,3}

# add an element
my_set.add(2)
print(my_set)

# add multiple elements
my_set.update([2,3,4])
print(my_set)

# add list and set
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

Removing elements from a set:
A particular item can be removed from set using methods, discard() and remove().
The only difference between the two is that, while using discard() if the item does not exist in the set, it remains unchanged. But remove() will raise an error in such condition.

In [365]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(4)
print(my_set)

# remove an element
my_set.remove(6)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}

Arrays:
Arrays are fundamental part of most programming languages. It is the collection of elements of a single data type, eg. array of int, array of string.
However, in Python, there is no native array data structure. So, we use Python lists instead of an array.
Unlike arrays, a single list can store elements of any data type and does everything an array does. We can store an integer, a float and a string inside the same list. So, it is more flexible to work with.
[10, 20, 30, 40, 50 ] is an example of what an array would look like in Python, but it is actually a list.

Multidimensional arrays

In [366]:
multd = [[1,2], [3,4], [5,6], [7,8]]
print(multd[0])

[1, 2]

## Iterators

We use the next() function to manually iterate through all the items of an iterator. When we reach the end and there is no more data to be returned, it will raise StopIteration. Following is an example.

In [391]:
my_list = [8, 7, 6, 3]

my_iter = iter(my_list)

print(next(my_iter))
print(next(my_iter))
print(my_iter.__next__())
print(my_iter.__next__())
# next(my_iter) # This gives StopIteration error

8
7
6
3

The advantage of using iterators is that they save resources. Like shown above, we could get all the odd numbers without storing the entire number system in memory. We can have infinite items (theoretically) in finite memory

## Generators:
Python generators are a simple way of creating iterators. A generator is a function that returns an object (iterator) which we can iterate over (one value at a time).

## Well, how to create a generator?
It is as same as defining a normal function with yield statement instead of a return statement.
If a function contains at least one yield statement (it may contain other yield or return statements), it becomes a generator function. Both yield and return will return some value from a function.
The difference is that, while a return statement terminates a function entirely, yield statement pauses the function saving all its states and later continues from there on successive calls.

In [400]:
def my_gen():
    n = 1
    print('This is printed first')
    # Generator function contains yield statements
    yield n
    n += 1
    print('This is printed second')
    yield n
    n += 1
    print('This is printed at last')
    yield n

In [401]:
my_gen()

In [402]:
# It returns an object but does not start execution immediately.

a = my_gen()

In [404]:
# We can iterate through the items using next().
next(a)

This is printed first

1

In [405]:
# Once the function yields, the function is paused and the control is transferred to the caller.
# Local variables and theirs states are remembered between successive calls.

next(a)

This is printed second

2

In [406]:
next(a)

This is printed at last

3

In [408]:
# Will throws StopIteration now

# next(a)

Note: The value of variable n is remembered between each call.
Unlike normal functions, the local variables are not destroyed when the function yields. Furthermore, the generator object can be iterated only once.
To restart the process we need to create another generator object using something like a = my_gen().

Generator example with for loop

In [503]:
def g1():
    for i in range(5):
        print(i, 'iteration')
        yield i

In [504]:
a = g1()
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

0 iteration
0
1 iteration
1
2 iteration
2
3 iteration
3
4 iteration
4

Generator example for string reversal

In [448]:
def rev(str1):
    str_len = len(str1)
    for i in range(str_len-1, -1, -1):  #range() function is used to get the index in reverse order
        yield str1[i]

In [461]:
for i in rev('Data'):
    print(i)

a
t
a
D

The above for loop makes below mulitple 'next' statements call easily

In [463]:
gen1 = rev('Data')
print(next(gen1))
print(next(gen1))
print(next(gen1))
print(next(gen1))

a
t
a
D

## Generator Expression:
- The syntax for generator expression is similar to that of a list comprehension in Python. But the square brackets are replaced with round parentheses.
- The major difference between a list comprehension and a generator expression is that while list comprehension produces the entire list, generator expression produces one item at a time.
- They are kind of lazy, producing items only when asked for. For this reason, a generator expression is much more memory efficient than an equivalent list comprehension.

In [472]:
list1 = [10, 25, 30, 45, 50]

List comprehension

In [468]:
[x**2 for x in list1]

[100, 625, 900, 2025, 2500]

Generator expression

In [479]:
(x**2 for x in list1)

We can see above that the generator expression did not produce the required result immediately. Instead, it returned a generator object which produces items on demand

In [474]:
gen_list1 = (x**2 for x in list1)

print(next(gen_list1))
print(next(gen_list1))
print(next(gen_list1))
print(next(gen_list1))
print(next(gen_list1))
# print(next(gen_list1))   -> This will lead to StopIteration

100
625
900
2025
2500

Generator expression can also be used inside functions

In [482]:
gen_list2 = [1, 2, 3, 4, 5]
sum(x**3 for x in gen_list2)

225

In [483]:
gen_list2 = [1, 2, 3, 4, 5]
max(x**3 for x in gen_list2)

125

## Python Closures

Nonlocal variable in a nested function:
- First off, we have to understand what a nested function and nonlocal variable is, in order to get to Closures

In [559]:
def func1(var):
    def func2():
        var2 = var * 2
        print(var2)
    func2()

In [560]:
func1(15)

30

We can see that the nested function func2() was able to access the non-local variable 'var' of the enclosing function.
- Defining a Closure Function:
What if the last line of the function func1() returned the func2() function instead of calling it?

In [554]:
def func1(var):
    def func2():
        var1 = var + 2
        print(var1)
    return func2

Now let's try calling this function

In [555]:
func1(20)

In [556]:
fun_ret = func1(20)
fun_ret()

22

## Observations:
- The func1() function was called with an integer 20 and the returned function was bound to the name fun_ret. 
- On calling fun_ret(), the message was still remembered although we had already finished executing the func1() function.
- This technique by which some data (22) gets attached to the code is called closure in Python.

The function fun_ret() can hold the output even if 'func1' is deleted

In [572]:
del func1
fun_ret()

22

The below function call will lead to following error -> NameError: name 'func1' is not defined, because the function is no more available

In [575]:
func1(20)

## When do we have a closure?
As seen from the above example, we have a closure in Python when a nested function references a value in its enclosing scope.

The criteria that must be met to create closure in Python are summarized in the following points.
1. We must have a nested function (function inside a function).
2. The nested function must refer to a value defined in the enclosing function.
3. The enclosing function must return the nested function.

## Decorators:
Python has an interesting feature called decorators to add functionality to an existing code.
This is also called metaprogramming as a part of the program tries to modify another part of the program at compile time.

Prerequisites for learning decorators

In [579]:
def fn1():
    print('Print fn1')
fn1()

Print fn1

In [580]:
fn2 = fn1
fn2()

Print fn1

Both fn1 and fn2 give the same output because they refer same function object

Functions can be passed as an arguments to another function. Such function that takes other functions as arguments are also called 'higher order functions'

In [581]:
def square(x):
    return x*x

def cube(x):
    return x*x*x

def calc(fn, val):
    result = fn(val)
    return result

In [584]:
calc(square, 5)

25

In [585]:
calc(cube, 5)

125

By far, we also know a function can return another function

In [586]:
def is_called():
    def is_returned():
        print('Nested function is returned')
    return is_returned

In [588]:
fn = is_called()
fn()

Nested function is returned

Here, is_returned() is a nested function which is defined and returned, each time we call is_called()

…getting back to Decorators. Basically, a decorator takes in a function, adds some functionality and returns it

In [604]:
def decorating_fn(fn):
    def nested_fn():
        fn()
        print('This function is decorated now')
    return nested_fn

def ordinary_fn():
    print('This is an ordinary function')
    
deco = decorating_fn(ordinary_fn)
deco()

This is an ordinary function
This function is decorated now

In the example shown above, decorating_fn() is a decorator. The function ordinary_fn() got decorated and the returned function was given the name deco.
-  For eg: We can see that the decorator function added some new functionality to the original function. This is similar to packing a gift. The decorator acts as a wrapper. The nature of the object that got decorated (actual gift inside) does not alter. But now, it looks pretty (since it got decorated).

Generally, we decorate a function and reassign it as
- ordinary_fn = decorating_fn(ordinary_fn)

This is a common construct and for this reason, Python has a syntax to simplify this.

Use the @ symbol along with the name of the decorator function and place it above the definition of the function to be decorated. For example,

In [606]:
@decorating_fn
def ordinary_fn():
    print('This is an ordinary function')

is equivalent to ...

In [ ]:
def ordinary_fn():
    print('This is an ordinary function')

ordinary_fn = decorating_fn(ordinary_fn)

Decorating Functions with Parameters

In [617]:
def decorating_fn(func):
    def nested_fn(a, b):
        print('Dividing', a, 'and', b)
        if b==0:
            print("""Can't divide""")
            return
        return func(a, b)
    return nested_fn

@decorating_fn
def ordinary_fn(a, b):
    return a/b

In [620]:
ordinary_fn(49, 7)

Dividing 49 and 7

7.0

Note: Parameters of the nested function - nested_fn() inside the decorator is same as the parameters of functions it decorates